.movie-form {
  background-color: #181818; /* Fundo escuro */
  color: #e0e0e0; /* Texto claro */
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

.movieFormH2 {
  text-align: center;
  color: #ffffff; /* Cor do título */
  margin-bottom: 20px;
  font-size: 36px;
}

.divMovieForm {
  margin-bottom: 15px;
}

.labelMovieForm {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #d0d0d0; /* Cor clara para os rótulos */
}

.placeholderMovieForm {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333; /* Fundo mais escuro para os inputs */
  color: #e0e0e0; /* Texto claro dentro do input */
  font-size: 1rem;
  margin-top: 5px;
}

.placeholderMovieForm:focus {
  outline: none;
  border-color: #ffcc00; /* Destaque dourado quando em foco */
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #ffcc00; /* Cor de fundo dourada */
  color: #181818; /* Texto escuro */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e0b800; /* Efeito hover para o botão */
}
